.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #9D9D9DC6;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader-spinner {
    width: 48px;
    height: 48px;
    border: 5px solid #ccc;
    border-top: 5px solid #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

.loader-text {
    font-family: Arial, sans-serif;
    font-size: 1.1rem;
    color: #333;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
