@import "style.css";

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.modal {
    background: linear-gradient(135deg,  #0d342d, #004035), linear-gradient(220deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
    border-radius: 10px;
    padding: 2rem;
    max-width: 600px;
    width: 90%;
    max-height: 90%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #999;
}

.modal-content {
    height: auto;
}

.modal-content::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    background: url("data:image/svg+xml;utf8,\ <svg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'>\   <rect width='120' height='120' fill='transparent'/>\   <g stroke='%23d4af37' stroke-width='1.2' stroke-opacity='0.5' transform='rotate(15,60,60)'>\     <!-- Vertical lines -->\     <line x1='0' y1='0' x2='0' y2='40'/>\     <line x1='0' y1='80' x2='0' y2='120'/>\     <line x1='30' y1='0' x2='30' y2='120'/>\     <line x1='60' y1='0' x2='60' y2='60'/>\     <line x1='60' y1='90' x2='60' y2='120'/>\     <line x1='90' y1='0' x2='90' y2='120'/>\     <line x1='120' y1='0' x2='120' y2='120'/>\     \     <!-- Horizontal lines -->\     <line x1='0' y1='0' x2='120' y2='0'/>\     <line x1='0' y1='30' x2='50' y2='30'/>\     <line x1='70' y1='30' x2='120' y2='30'/>\     <line x1='0' y1='60' x2='120' y2='60'/>\     <line x1='0' y1='90' x2='90' y2='90'/>\     <line x1='110' y1='90' x2='120' y2='90'/>\     <line x1='0' y1='120' x2='120' y2='120'/>\   </g>\ </svg>");
    background-repeat: repeat;
    background-size: 120px 120px;
    transform: scale(16.8) rotate(227deg);
}

.modal-content p {
    margin-bottom: 0.75rem;
    color: white;
}

.modal .modal-content .logo-whatsapp {
    img {
        position: absolute;
        right: 11px;
        bottom: 10px;
    }

}

.modal-content .nome_empresa {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #fe785f;
}

.hidden {
    display: none;
}

#telefone_da_empresa, #e_mail_da_empresa {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.modal .modal-content p span {
    color: #fe785f;
}
